[flake8]
max-line-length = 88
exclude =
    .git,
    __pycache__,
    .venv,
    .tox,
    .eggs,
    *.egg,
    build,
    dist,
    archive,
    .mypy_cache,
    .pytest_cache

# E203: whitespace before ':', E501: line too long (handled by black)
# W503/W504: line break around binary operator
ignore =
    E203,
    W503,
    E501,
    W504

per-file-ignores =
    __init__.py:F401

max-complexity = 25
doctests = True
show-source = True
statistics = True
count = True

# Error codes to always report
select =
    E,
    W,
    F,
    C
